{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "renderIntoDocument": true,
    "findRenderedDOMComponentWithTag": true,
    "findRenderedComponentWithType": true,
    "stateString": true,
    "emit": true
  },
  "rules": {
    "indent": [2,2],
    "strict": 0,
    "quotes": [2,"single"],
    "comma-spacing": [2,{"before": false,"after": false}],
    "no-underscore-dangle": 0,
    "new-cap": [2,{"capIsNewExceptions":["Record"]}],
    "curly": 0,
    "generator-star-spacing": [2,"both"],
    "space-before-function-paren": [2,"always"],
    "no-shadow": 0,
    "eol-last": 2,
    "no-multiple-empty-lines": [2,{"max": 1}],
    "no-spaced-func": 2,
    "one-var": [2, "never"],
    "space-in-brackets": [2,"never"],
    "space-in-parens": [2,"never"],
    "space-return-throw-case": 2,
    "space-unary-ops": [2, {"words": true,"nonwords": false}],
    "spaced-line-comment": [2,"always"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-quotes": [2,"double"],
  }
}
