{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "renderIntoDocument": true,
    "findRenderedDOMComponentWithTag": true,
    "findRenderedComponentWithType": true,
    "stateString": true
  },
  "rules": {
    "indent": [2,2],
    "strict": 0,
    "quotes": [2,"single"],
    "comma-spacing": [2,{"before":false,"after":false}],
    "no-underscore-dangle": 0,
    "new-cap": [2,{"capIsNewExceptions":["Record"]}],
    "curly": 0,
    "generator-star-spacing": [2,"both"],
    "space-before-function-paren": [2,"always"],
    "react/jsx-uses-react": 2
  }
}
